@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --primary: #029AE0;
  --primary-100: #073044;
  --primary-200: #415A66;
  --primary-300: #017CB3;
  --primary-400: #5fe650;
  --background: #202124;
  --background-100: #26282b;
  --background-200: #3b3c3f;
  --font-xs: 10px;
  --font-sm: 12px;
  --font-base: 14px;
  --font-lg: 16px;
  --font-xl: 18px;
  --font-2xl: 20px;
  --font-3xl: 22px;

   /* For Colors in UI TOE */
	--bim-ui_main-base: var(--primary); /* // MAIN COLOR */
	--bim-ui_accent-base: var(--primary-400); /* // ACCENT COLOR when hover*/

}

* {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  /* font-size: var(--font-base); */
}

html{
	font-size: 16px;
}


body {
  background-color: var(--background); /* Evita destellos blancos si algo se desborda */
  margin: 0;
}


#app {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-areas: 'sidebar content';
  height: 100vh;
  background-color: var(--background);
  color: #fff;
  overflow: hidden; /* Empuja el scroll únicamente al contenedor interno */
}


.page {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto; /* Permite scroll vertical interno si hay muchos proyectos */
  background-color: var(--background); /* Garantiza que mantenga el color oscuro */
}


.section-header {
/*   padding: 20px 40px;
  border-bottom: 2px solid var(--background-200);
  display: flex;
  align-items: center;
  justify-content: space-between; */
  
  --bim-label--c: #029AE0;
}


/* Para los headers de las Sections: */
bim-panel-section.models-header {
    
	--bim-panel-section_hc: var(--primary);
}



/* General Styles */

h2 {
  font-size: var(--font-3xl)
}

h3 {
  font-size: var(--font-2xl)
}

h4 {
  font-size: var(--font-xl)
}

h5 {
  font-size: var(--font-lg)
}

button {
  padding: 8px 15px;
  cursor: pointer;
  height: 40px;
  font-size: 14px;
  background-color: var(--primary);
  color: white;
  border-radius: 100px;
  border: none;
  display: flex;
  align-items: center;
  column-gap: 5px;
}

button:hover {
  background-color: var(--primary-400);
}


/* Sidebar styles */

#sidebar {
  background-color: var(--background-200);
  padding: 25px;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

#company-logo {
	height: 65px;
}

#nav-buttons {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

#nav-buttons a{
	text-decoration: none;
	color:white;
}

#nav-buttons bim-button {
/*   list-style-type: none;
  padding: 15px;
  border-radius: 10px;
  
  cursor: pointer;
  display: flex;
  align-items: center;
  column-gap: 10px; */
  background-color: transparent;
  /* font-size: 1.2rem !important; */
  /* --bim-button--font-size: 1.2rem; */
  /* --bim-label--font-size: 3rem; */

  --bim-label--fz: 1.1rem;
}





#nav-buttons li:hover {
  background-color: var(--primary);
}

/* Content styles */

header {
  padding: 30px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project-card {
  background-color: var(--background-200);
  border-radius: 8px;
  cursor: pointer;
}

.project-card:hover {
  outline: 2px solid var(--primary);
}

.card-header {
  display: flex;
  column-gap: 20px;
  padding: 15px 20px;
  align-items: center; 
  justify-content: start;
  border-bottom: 2px solid #606061;
  min-height: 60px;
}

.card-content {
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: start;
}

.card-property {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

#projects-list1 {
  display: grid;
  padding: 20px 40px;
  gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  flex-grow: 1; /* <-- Agrega esto para que se estire verticalmente */
}

#projects-list a{
	text-decoration: none;
	color:white;
}



/* For Project List horizontally displayed*/
#projects-list {
	display: grid;
	padding: 20px;
	/* Crea columnas de mínimo 240px y máximo lo que sobre de espacio */
	grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
	gap: 20px; /* Espacio entre las tarjetas */
	align-items: start; /* Evita que las tarjetas se estiren verticalmente si tienen poco contenido */
}


#projects-pages {
  background-color: #747475; /* Pon aquí el color oscuro exacto de tus tarjetas/fondo */
  min-height: 100vh;         /* Obliga a la página a cubrir toda la pantalla del usuario */
  display: flex;
  flex-direction: column;    /* Alinea el header arriba y la lista abajo */
}

.action-icon {
  color: darkgray;
  border-radius: 100%;
  padding: 4px;
  font-size: 20px;
  cursor: pointer;
}

.action-icon:hover {
  color: white;
  background-color: var(--primary);
}




/* Form Styles */

dialog {
  background-color: transparent; 
  border: none;
	margin: auto;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
}

form {
  width: 450px; 
  border-radius: 10px; 
  background-color: var(--background-100);
  color: white;
}

form h2 {
  padding: 20px; 
  border-bottom: 2px solid var(--background-200);
}

form .input-list {
  display: flex; 
  flex-direction: column; 
  padding: 20px; 
  row-gap: 25px;
}

form .form-field-container {
  display: flex;
  flex-direction:column;
}

#form_buttons {
	display: flex;
	justify-content: flex-end;
	gap: 10px;
	padding: 5px 20px;
}

label {
  font-size: var(--font-base);
  margin-bottom: 10px;
  font-weight: 500;
  color: rgba(150,150,150,1);
  display: flex;
  align-items: center;
  column-gap: 5px;
}

input, textarea, select {
  color: white; 
	background-color: var(--background-200);
  padding: 15px; 
  border-radius: 8px; 
  border: none;
  font-size: var(--font-base);
}

input:focus, textarea:focus, select:focus {
  outline: 2px solid var(--primary);
}

/* Project details page */

.dashboard-card {
  background-color: var(--background-100);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

#project-details > .main-page-content {
  display: grid;
  padding: 20px 40px;
  gap: 30px;
  grid-template-columns: 475px 1fr;
  height: 100%;
}

.btn-secondary {
  background-color: transparent; 
  outline: 2px solid #969696; 
  width: 100px; 
  text-align: center;
}

.btn-secondary:hover {
  background-color: var(--primary); 
  outline: none;
}

.addToDoBtn{
	/* outline: 0.2px solid #969696; */
	cursor: pointer;
	
}
.addToDoBtn:hover{
	background-color: var(--primary); 
	outline: none;
}

.todo-item {
  padding: 20px;
  background-color: var(--background-200);
  border-radius: 10px;
  cursor: pointer;
}

.todo-item:hover {
  background-color: var(--primary);
}

/* Initials de ProjectCard */
.avatar-initials {
	display: flex;
	color: white;
	border-radius: 8px;
	aspect-ratio: 1;
	width: 45px;
	height: 45px;
	font-size: 1.2rem;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	flex-shrink:0;
}


/* Initials de Detail Page */
[data-project-info="initials"] {
	/* background-color: #ca8134; */
	background-color: #30e7a1;
	padding: 13px;
	border-radius: 100%;
	aspect-ratio: 1;
	color: #ffffff;
	font-size: 22px;
	font-weight: bold;
	text-align: center;
	align-content: center;
}

[data-project-info="information"]{
	display: flex;
	column-gap: 30px;
	padding: 30px 0px;
	justify-content: space-between;
}

[data-project-info="tittle-field"]{
	color: #969696; 
	font-Size: var(--font-sm);
}


.project-card bim-label{
	white-space: normal;
}


/* NEW STYLES */


:root {
  --bim-ui_bg-base: var(--background);
}

bim-grid {
  background-color: transparent;
}

.components-grid {
  gap: 1rem;
}

.viewer-grid, .viewport-grid {
  padding: 1rem;
}

bim-panel-section {
  --bim-panel-section_hc: var(--primary);
  overflow: auto;
}

:not(bim-panel) > bim-panel-section {
  border: 1px solid var(--bim-ui_bg-contrast-40);
  border-radius: 0.25rem;
}

bim-panel-section > bim-table {
  flex: 1;
}

bim-grid[floating] {
  z-index: 100;
}

bim-table {
  border-radius: var(--bim-ui_size-4xs);
}

bim-context-menu {
  padding: 0.5rem;
  background-color: var(--bim-ui_bg-base);
  outline: 1px solid var(--bim-ui_bg-contrast-20);
}

.transparent {
  background-color: transparent;
}

.viewport-container {
  box-sizing: border-box;
  position: relative;
  border: 1px solid var(--bim-ui_bg-contrast-40);
  border-radius: 0.25rem;
  overflow: auto;
  height: 100%;
}

bim-grid[floating] > bim-toolbar {
  border: none;
  justify-self: center;
  outline: 1px solid var(--bim-ui_bg-contrast-40);
}